In [ ]:
import pandas as pd

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/our_contest_train_2.csv" )

In [ ]:
train_df.head()

       Qid         PostDateTime  ... OtherSubject  Target
0  1827014  08/23/2011 04:57:58  ...          NaN       0
1   623028  06/07/2010 20:41:14  ...          NaN       0
2   927745  11/04/2010 14:23:59  ...          NaN       0
3   657891  06/25/2010 23:15:07  ...          NaN       0
4  3321018  07/04/2012 09:05:59  ...          NaN       0

[5 rows x 12 columns]

In [ ]:
train_df.MainText.loc[2] #### checking that is it the sentence or paragraph

'I am writing a Silverlight 4 business application and have run into an issue. I need the text input in TextBoxes to be forced to UpperCase. What I understand from various forums is Silverlight does not Implement CharacterCasing and CSS Styling. \r\n\r\nIs there any other way to achieve this? '

In [ ]:
train_df.Heading.loc[2]

'Character Casing in Silverlight 4 TextBox'

In [ ]:
train_df.count()

Qid                 1685264
PostDateTime        1685264
WhenAccountMade     1685264
Karma               1685264
NumAnswers          1685264
Heading             1685264
MainText            1685263
PrimarySubject      1685186
SecondarySubject    1422686
TertiarySubject      990241
OtherSubject         521209
Target              1685264
dtype: int64

In [ ]:
train_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  1
PrimarySubject           78
SecondarySubject     262578
TertiarySubject      695023
OtherSubject        1164055
Target                    0
dtype: int64

In [ ]:
train_df.Target.value_counts()

0    1650196
1      15394
2       8765
3       7830
4       3079
Name: Target, dtype: int64

In [ ]:
train_df.PrimarySubject.value_counts()

c#               141040
java             120273
php              113814
javascript        92835
android           87372
                  ...
modeless              1
tif                   1
pascalscript          1
read-csv              1
lexical-scope         1
Name: PrimarySubject, Length: 15362, dtype: int64

In [ ]:
train_df.describe()

                Qid         Karma    NumAnswers        Target
count  1.685264e+06  1.685264e+06  1.685264e+06  1.685264e+06
mean   1.685049e+06  6.585267e+02  2.537575e+01  4.078293e-02
std    9.731675e+05  2.957257e+03  1.076235e+02  3.151552e-01
min    2.000000e+00 -4.100000e+01  0.000000e+00  0.000000e+00
25%    8.418928e+05  6.000000e+00  0.000000e+00  0.000000e+00
50%    1.684832e+06  6.200000e+01  2.000000e+00  0.000000e+00
75%    2.528051e+06  3.910000e+02  1.300000e+01  0.000000e+00
max    3.370526e+06  2.871010e+05  1.174900e+04  4.000000e+00

In [ ]:
test_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/our_contest_test.csv" )

In [ ]:
test_df.head()

       Qid         PostDateTime  ... TertiarySubject  OtherSubject
0   542806  04/22/2010 14:12:38  ...             NaN           NaN
1  1226994  03/01/2011 19:14:36  ...             NaN           NaN
2  3299216  07/09/2012 15:04:54  ...             NaN           NaN
3  1631029  06/29/2011 16:08:57  ...          memory        malloc
4  1963405  03/20/2012 16:09:47  ...          stdout        stderr

[5 rows x 11 columns]

In [ ]:
test_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  0
PrimarySubject           82
SecondarySubject     262596
TertiarySubject      694181
OtherSubject        1164434
dtype: int64

In [ ]:
test_df.describe()

                Qid         Karma    NumAnswers
count  1.685264e+06  1.685264e+06  1.685264e+06
mean   1.685478e+06  6.587846e+02  2.542847e+01
std    9.728083e+05  2.987831e+03  1.118820e+02
min    0.000000e+00 -5.500000e+01  0.000000e+00
25%    8.433845e+05  6.000000e+00  0.000000e+00
50%    1.685750e+06  6.200000e+01  2.000000e+00
75%    2.527724e+06  3.910000e+02  1.300000e+01
max    3.370527e+06  4.613110e+05  2.153200e+04

so here i am doing some preprocessing on text data using NLTK library.

In [ ]:
import nltk

In [ ]:
###  nltk.download()

In [ ]:
train_df.describe()

                Qid         Karma    NumAnswers        Target
count  1.685264e+06  1.685264e+06  1.685264e+06  1.685264e+06
mean   1.685049e+06  6.585267e+02  2.537575e+01  4.078293e-02
std    9.731675e+05  2.957257e+03  1.076235e+02  3.151552e-01
min    2.000000e+00 -4.100000e+01  0.000000e+00  0.000000e+00
25%    8.418928e+05  6.000000e+00  0.000000e+00  0.000000e+00
50%    1.684832e+06  6.200000e+01  2.000000e+00  0.000000e+00
75%    2.528051e+06  3.910000e+02  1.300000e+01  0.000000e+00
max    3.370526e+06  2.871010e+05  1.174900e+04  4.000000e+00

In [ ]:
duplicate = train_df[train_df.duplicated(['Heading','MainText'])]
  
print("Duplicate Rows :")
  
# Print the resultant Dataframe
duplicate

Duplicate Rows :

             Qid         PostDateTime  ...          OtherSubject  Target
86850     715209  07/26/2010 06:57:13  ...                   NaN       0
429363    859824  10/04/2010 12:16:52  ...                  line       0
433798   1137331  01/31/2011 07:11:57  ...                   NaN       0
513579    625901  06/09/2010 06:08:33  ...                   NaN       0
704227   1360711  04/11/2011 15:42:12  ...                   NaN       0
719876    866147  10/06/2010 22:58:46  ...                   NaN       0
891206   1280604  03/18/2011 00:47:08  ...             integrity       0
1001518  1328252  04/01/2011 10:44:11  ...                   NaN       0
1024519   874702  10/11/2010 15:13:43  ...                openmq       0
1042854  1344135  04/06/2011 12:44:57  ...                   NaN       0
1049164   367587  01/03/2010 14:07:53  ...                   NaN       0
1056512   534927  04/18/2010 13:45:51  ...                   NaN       0
1067741  1078721  01/09/2011 22:51:57  ...                   NaN       0
1135636  1479316  05/16/2011 10:22:26  ...                   NaN       0
1199464   569920  05/06/2010 23:17:40  ...                   NaN       0
1201464  2375174  01/10/2012 22:54:17  ...                   NaN       0
1216430   737695  08/05/2010 12:24:11  ...                   NaN       0
1293434   959924  11/18/2010 11:21:52  ...                   NaN       0
1314741   803465  09/06/2010 17:08:46  ...                   NaN       0
1329931   129517  05/12/2009 12:37:00  ...                python       0
1363745   669513  07/02/2010 09:29:52  ...  software-engineering       0
1374333  1274459  03/16/2011 12:14:47  ...                   NaN       0
1377265   178293  07/12/2009 16:05:56  ...                   NaN       0
1412609  1023494  12/14/2010 20:45:37  ...                   NaN       0
1450626  1180664  02/14/2011 23:07:33  ...                   NaN       0
1476522   810032  09/09/2010 12:08:39  ...                   NaN       0
1501681  1228463  03/02/2011 06:48:37  ...                   NaN       0
1586155  1006134  12/07/2010 20:41:02  ...               version       0
1592212   550254  04/27/2010 07:33:13  ...                   NaN       0
1605855   435529  10/26/2009 15:16:43  ...                   NaN       0
1626224   805564  09/07/2010 16:47:48  ...                   NaN       0
1659701  1203961  02/22/2011 13:29:04  ...                 roles       0
1663437   262478  10/07/2009 02:00:40  ...               windows       0

[33 rows x 12 columns]

In [ ]:
duplicate.shape

(33, 12)

In [ ]:
train_df.shape

(1685264, 12)

In [ ]:
train_df=train_df.drop_duplicates(subset={'Heading','MainText'},keep ='first', inplace = False)
train_df.shape




#### this is the shape of  the train data after dropping the duplicates.

(1685231, 12)

In [ ]:
test_df.shape

(1685264, 11)

In [ ]:
# test_df=test_df.drop_duplicates(subset={'Heading','MainText'},keep ='first', inplace = False)
# test_df.shape





######## This is the shape of test dataset after removing the duplicate

(1685240, 11)

In [ ]:
dup2=train_df[train_df.duplicated(['MainText'])]
dup2






###### for checking the duplicates in the train datasets

             Qid         PostDateTime  ... OtherSubject  Target
246250    205075  08/10/2009 16:46:41  ...          NaN       0
330753   1472055  05/13/2011 11:48:34  ...          rpg       0
356114    743463  08/08/2010 21:54:45  ...          NaN       0
381441    837970  09/23/2010 07:13:30  ...          NaN       0
401495    282891  10/26/2009 12:19:26  ...          NaN       0
...          ...                  ...  ...          ...     ...
1663954   107795  04/08/2009 19:00:26  ...          NaN       0
1672419  1000436  12/05/2010 19:46:17  ...          NaN       0
1674513   932644  11/06/2010 23:31:27  ...          NaN       0
1677362   615291  06/03/2010 08:43:51  ...          NaN       0
1682719   740525  08/06/2010 15:13:17  ...          NaN       0

[61 rows x 12 columns]

In [ ]:
train_df=train_df.drop_duplicates(subset={'MainText'},keep ='first', inplace = False)


train_df.shape



###### Now here we are updating the  train dataframe  by removing the duplicates whose MainText are same

(1685170, 12)

In [ ]:
test_df=test_df.drop_duplicates(subset={'MainText'},keep ='first', inplace = False)


test_df.shape



###### Now here we are updating the  test dataframe  by removing the duplicates whose MainText are same

KeyboardInterrupt: ignored

In [ ]:
train_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  1
PrimarySubject           78
SecondarySubject     262560
TertiarySubject      694971
OtherSubject        1163981
Target                    0
dtype: int64

In [ ]:
train_df.dropna(subset=['MainText'] ,inplace = True)

In [ ]:
train_df.shape

(1685169, 12)

In [ ]:
test_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  0
PrimarySubject           82
SecondarySubject     262596
TertiarySubject      694181
OtherSubject        1164434
dtype: int64

In [ ]:
train_df.dropna(subset=['PrimarySubject'], inplace = True)   #### dropping the rows which rae having null values in their primary subject

In [ ]:
train_df.shape

(1685091, 12)

In [ ]:
train_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  0
PrimarySubject            0
SecondarySubject     262550
TertiarySubject      694942
OtherSubject        1163928
Target                    0
dtype: int64

In [ ]:
test_df.dropna(subset=['PrimarySubject'], inplace = True)

In [ ]:
test_df.shape

(1685264, 11)

In [ ]:
train_df['SecondarySubject'].fillna("Not Available",inplace=True)

In [ ]:
train_df['TertiarySubject'].fillna("Not Available",inplace=True)

In [ ]:
train_df['OtherSubject'].fillna("Not Available",inplace=True)

In [ ]:
train_df.isna().sum()

Qid                 0
PostDateTime        0
WhenAccountMade     0
Karma               0
NumAnswers          0
Heading             0
MainText            0
PrimarySubject      0
SecondarySubject    0
TertiarySubject     0
OtherSubject        0
Target              0
dtype: int64

In [ ]:
# test_df['SecondarySubject'].fillna("Not Available",inplace=True)

In [ ]:
# test_df['TertiarySubject'].fillna("Not Available",inplace=True)

In [ ]:
# test_df['OtherSubject'].fillna("Not Available",inplace=True)

In [ ]:
test_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  0
PrimarySubject           82
SecondarySubject     262596
TertiarySubject      694181
OtherSubject        1164434
dtype: int64

In [ ]:
train_df.head()

       Qid         PostDateTime  ...   OtherSubject  Target
0  1827014  08/23/2011 04:57:58  ...  Not Available       0
1   623028  06/07/2010 20:41:14  ...  Not Available       0
2   927745  11/04/2010 14:23:59  ...  Not Available       0
3   657891  06/25/2010 23:15:07  ...  Not Available       0
4  3321018  07/04/2012 09:05:59  ...  Not Available       0

[5 rows x 12 columns]

In [ ]:
test_df.head()

       Qid         PostDateTime  ... TertiarySubject   OtherSubject
0   542806  04/22/2010 14:12:38  ...   Not Available  Not Available
1  1226994  03/01/2011 19:14:36  ...   Not Available  Not Available
2  3299216  07/09/2012 15:04:54  ...   Not Available  Not Available
3  1631029  06/29/2011 16:08:57  ...          memory         malloc
4  1963405  03/20/2012 16:09:47  ...          stdout         stderr

[5 rows x 11 columns]

Let's start Preprocessing the data after data cleaning and data visualisation :-

In [ ]:


import numpy as np 
import nltk
import string
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve , auc


import re
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

In [ ]:
# printing some random Main Text 


sent_0 = train_df['MainText'].values[0]
print(sent_0)
print("="*50)

sent_1000 = train_df['MainText'].values[1000]
print(sent_1000)
print("="*50)

sent_1500 =train_df['MainText'].values[1500]
print(sent_1500)
print("="*50)

sent_45000 = train_df['MainText'].values[45000]
print(sent_45000)
print("="*50)

we are trying to implement ajax in new incident to get values of assign user id by click on  groups  for that we apply ajax in views on create.gsp
----------------------------------------


ajax used in create.gsp



    <g:javascript>document.observe('dom:loaded', function() {$("groupId").observe("change", respondToSelect);});
    			function respondToSelect(event)
    			{new Ajax.Updater("userId","/smartserv/incident/updateSelect",{method:'get', parameters: {selectedValue : $F("groupId")} });}</g:javascript>



this are tags used in create.gsp



    <tr class="prop"> <td valign="top" class="name">
                                        <label for="groupId"><g:message code="incident.groupId.label" default="Assignment Group" /></label>
                                    </td>
                                    <td valign="top" class="value ${hasErrors(bean: incidentInstance, field: 'groupId', 'errors')}">
                                        <g:select id="groupId" name="groupId" from="${app.Usergroup.list()}" optionKey="id" value="${incidentInstance?.groupId?.id}"  />
                                    </td>
                                </tr>
                                <div id="userId">
                                <tr class="prop">
                                    <td valign="top" class="name">
                                        <label for="userId"><g:message code="incident.userId.label" default="Assign Id" /></label>
                                    </td>
                                    <td valign="top" class="value ${hasErrors(bean: incidentInstance, field: 'userId', 'errors')}">
                                        <g:select  name="userId" from="${app.User.list()}" optionKey="id" value="${incidentInstance?.userId?.id}"  />
                                    </td>
                                </tr>
                                </div>



In incident controller we used  updateSelect to get values




    def dataSource
       def updateSelect = {
    			 def sql = new Sql(dataSource)
                             def user_id = sql.execute("SELECT distinct user_id FROM user_groups where user_groups.usergroup_id='+usergroup_id+'")
      render(usergroup_id:params.selectedValue,template:"assignId", model : ['user_id' : user_id])
    }



_assignId.gsp

    <g:select
           from="${groupId.members}"
           name="" value="">
    </g:select>


database table:group_(fields:groupid , description, application)


table:user(fields:userid,username,etc)


table:user_groups( fields:userid and usergroupid)




by using this tables we have to get values by using ajax

we are getting action on assignid but we are not getting particular values
And Can anyone suggest website or pdf that how to implement sql queries in controller.


==================================================
I have model with `ImageFile` field:

    def upload_course_cover(object, filename):
    	return '/media/courses/%s_%s' % (Course.objects.aggregate(Max('id'))['id__max'] + 1, filename)

    class Course(models.Model):
    	# ...
    	cover = models.ImageField(upload_to=upload_course_cover,  blank=True)

When the image is saved, into `cover` field will be writen full image path `/media/courses/id_filename.ext`, but I want store only image name `id_filename.ext`.
How to do it?
==================================================
can i use session values inside a Webmethod?
ps: i used [System.Web.Services.WebMethod(EnableSession = true)] but i can't access Session parameter like in this example: [link text][1]


  [1]: http://msdn.microsoft.com/en-us/library/byxd99hx(v=vs.90).aspx#vbtskusingwebmethodattributeenablesession
==================================================
I've got a newbie question concerning handling touch events. My simple class looks like that:


`public class SplashActivity extends Activity implements OnKeyListener,
		OnTouchListener {
	private LinearLayout mLinearLayout;

	public void onCreate(Bundle savedInstanceState) {
		super.onCreate(savedInstanceState);

		mLinearLayout = new LinearLayout(this);
		mLinearLayout.addView(getBgImg());
		mLinearLayout.setOnKeyListener(this);
		mLinearLayout.setOnTouchListener(this);
		mLinearLayout.setFocusable(true);
		setContentView(mLinearLayout);
	}

	private ImageView getBgImg() {
		ImageView imgV = new ImageView(this);
		imgV.setImageResource(R.drawable.splash);
		imgV.setAdjustViewBounds(true);
		imgV.setLayoutParams(new Gallery.LayoutParams(
				LayoutParams.WRAP_CONTENT, LayoutParams.WRAP_CONTENT));
		return imgV;
	}

	@Override
	public boolean onKey(View v, int keyCode, KeyEvent event) {
		System.out.println("test2");
		return true;
	}

	@Override
	public boolean onTouch(View v, MotionEvent event) {
		System.out.println("test1");
		return true;
	}

	@Override
	public boolean onKeyDown(int keyCode, KeyEvent event) {
		switch (keyCode) {
		case KeyEvent.KEYCODE_S:
			// mDoSat = !mDoSat;
			return true;
		}
		return super.onKeyDown(keyCode, event);
	}
}`

unfortunately in spite of pressing buttons on the emulator and clicking on the screen, I get no "test1" or "test2" printed in the LogCat... I have no idea what's wrong...
thank you in advance for any hint...
==================================================

In [ ]:
 #### we are removing the link here from 1500th line and watching it 

sent_1500 = re.sub(r"http\S+", "", sent_1500)
print(sent_1500)

can i use session values inside a Webmethod?
ps: i used [System.Web.Services.WebMethod(EnableSession = true)] but i can't access Session parameter like in this example: [link text][1]


  [1]:

In [ ]:
sent_500 = train_df['MainText'].values[500]
print(sent_500)
print("="*50)


sent_5000 = train_df['MainText'].values[5000]
print(sent_5000)
print("="*50)


sent_50000 = train_df['MainText'].values[50000]
print(sent_50000)
print("="*50)

Okay so this is for a school assignment.  I have had no problems doing a recursive binary search but the assignment specifically says that the method should only take 2 arguments, the list, and the item you are searching for.  This is where I am getting a little lost.

    	public int binarySearch(List<Card> cards, Card key)
	{
		int mid = (cards.size()) / 2;
		if(cards.size() == 1){
			if(key.equals(cards.get(0))){
				return 0;
			}
		}
		else{
			if(key.equals(cards.get(mid))){
				return mid;
			}
			else if(key.compareTo(cards.get(mid)) == - 1){
				return binarySearch(cards.subList(0, mid), key);
			}
			else if(key.compareTo(cards.get(mid)) ==  1){
				return mid + 1 + binarySearch(cards.subList(mid + 1, cards.size()), key);
			}
		}
		return -1;

So this will work fine unless I am searching for something that doesn't exist and it belongs in the upper half of the list.  Because I am only passing through 2 arguments, I have to change the list with each recursive call, however, if it's in the upper half i can't lose my index spot so I have to add those on there with the recursive call, if it ends up not being in the upper half then it returns -1 + all those indexes i was accounting for previously.  Is there a way I can clear it all out and make it just return -1?  Any advise is appreciated.
==================================================
I'm using a micro-orm (dapper) and am trying to come up with a Unit Of Work (UoW) implementation for my repositories to use. I am a little bit stumped how best to deal with parent-child (foreign key) relationships in my UoW. So for example if I have the following two entities which map directly to database tables:

<!-- language: lang-cs -->

    public class User
    {
        public int Id { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public string Name { get; set; }
        public int ClientDatabaseId { get; set; }

        public ClientDatabase ClientDb { get; set; }
    }

    public class ClientDatabase
    {
        public int Id { get; set; }
        public string DataSource { get; set; }
        public string FailoverPartner { get; set; }
        public string InitialCatalog { get; set; }
    }

Where a User has parent-child relationship with a ClientDatabase via the foreign key User.ClientDatabaseId. The Id property on both User and ClientDatabase are Identity columns. My UoW interface is defined as follows:

<!-- language: lang-cs -->

    public interface IUnitOfWork
    {
        void MarkDirty(object entity);
        void MarkNew(object entity);
        void MarkDeleted(object entity);
        void Commit();
        void Rollback();
    }

At some point, within the same IUnitOfWork I want to call MarkNew() for both a ClientDatabase and a User and then Commit(). Now what I want to happen is for the ClientDatabase to be saved first (child entity) and then for the Id that was set on ClientDatabase, as a result of it's database insertion, to be set as the ClientDatabaseId foreign key property on User before it is then also inserted into the database. I just wondered whether anyone had solved this sort of problem in a nice generic fashion?
==================================================
For an assignment, we are to write the merge sort function:
sort(int* array, unsigned len); in C

I have the code written and working, but its runtime is O(N^2*log[N]) which defeats the purpose of merge sort. The reason for the inefficiency is because the merge part is as follows:

    while(ct1 < len1 && ct2 < len2){
		if(array[0] < array[len1 - ct1]){
			ct1++;
			array++;	// no longer look at that element
		}
		else{
			int position = len1 - ct1;
			int hold = array[position];
			while(position > 0){
				array[position] = array[position - 1];
				position--;
			}
			array[0] = hold;
			ct2++;
			array++;
		}
	}

where ct1 is a counter for the left list, ct2 is counter for the right list, and array is the pointer to the array. Both ct1 and ct2 are initially set to zero. Like I said, this works, it's just inefficient because you have to shift everything. I was wanting to split the sub arrays into two temporary arrays before sorting, but you supposedly cannot create arrays whose lengths aren't defined as constants. I should also note that although I can use helper functions, I cannot change the function parameters: there must be a pointer to an array, and the length.

Thanks to all who can help,
Duncan
==================================================

In [ ]:
### ---------------verymuch much important---------------
####-------BeautifulSoup   is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating,





from bs4 import BeautifulSoup

soup = BeautifulSoup(sent_0, 'lxml')
text = soup.get_text()
print(text)
print("="*50)



soup = BeautifulSoup(sent_1000, 'lxml')
text = soup.get_text()
print(text)
print("="*50)



soup = BeautifulSoup(sent_1500, 'lxml')
text = soup.get_text()
print(text)
print("="*50)



soup = BeautifulSoup(sent_5000, 'lxml')
text = soup.get_text()
print(text)

we are trying to implement ajax in new incident to get values of assign user id by click on  groups  for that we apply ajax in views on create.gsp
----------------------------------------


ajax used in create.gsp



    document.observe('dom:loaded', function() {$("groupId").observe("change", respondToSelect);});
    			function respondToSelect(event)
    			{new Ajax.Updater("userId","/smartserv/incident/updateSelect",{method:'get', parameters: {selectedValue : $F("groupId")} });}



this are tags used in create.gsp























In incident controller we used  updateSelect to get values




    def dataSource
       def updateSelect = {
    			 def sql = new Sql(dataSource)
                             def user_id = sql.execute("SELECT distinct user_id FROM user_groups where user_groups.usergroup_id='+usergroup_id+'")
      render(usergroup_id:params.selectedValue,template:"assignId", model : ['user_id' : user_id])
    }



_assignId.gsp





database table:group_(fields:groupid , description, application)


table:user(fields:userid,username,etc)


table:user_groups( fields:userid and usergroupid)




by using this tables we have to get values by using ajax

we are getting action on assignid but we are not getting particular values
And Can anyone suggest website or pdf that how to implement sql queries in controller.


==================================================
I have model with `ImageFile` field:

    def upload_course_cover(object, filename):
    	return '/media/courses/%s_%s' % (Course.objects.aggregate(Max('id'))['id__max'] + 1, filename)

    class Course(models.Model):
    	# ...
    	cover = models.ImageField(upload_to=upload_course_cover,  blank=True)

When the image is saved, into `cover` field will be writen full image path `/media/courses/id_filename.ext`, but I want store only image name `id_filename.ext`.
How to do it?
==================================================
can i use session values inside a Webmethod?
ps: i used [System.Web.Services.WebMethod(EnableSession = true)] but i can't access Session parameter like in this example: [link text][1]


  [1]:
==================================================
I'm using a micro-orm (dapper) and am trying to come up with a Unit Of Work (UoW) implementation for my repositories to use. I am a little bit stumped how best to deal with parent-child (foreign key) relationships in my UoW. So for example if I have the following two entities which map directly to database tables:



    public class User
    {
        public int Id { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public string Name { get; set; }
        public int ClientDatabaseId { get; set; }

        public ClientDatabase ClientDb { get; set; }
    }

    public class ClientDatabase
    {
        public int Id { get; set; }
        public string DataSource { get; set; }
        public string FailoverPartner { get; set; }
        public string InitialCatalog { get; set; }
    }

Where a User has parent-child relationship with a ClientDatabase via the foreign key User.ClientDatabaseId. The Id property on both User and ClientDatabase are Identity columns. My UoW interface is defined as follows:



    public interface IUnitOfWork
    {
        void MarkDirty(object entity);
        void MarkNew(object entity);
        void MarkDeleted(object entity);
        void Commit();
        void Rollback();
    }

At some point, within the same IUnitOfWork I want to call MarkNew() for both a ClientDatabase and a User and then Commit(). Now what I want to happen is for the ClientDatabase to be saved first (child entity) and then for the Id that was set on ClientDatabase, as a result of it's database insertion, to be set as the ClientDatabaseId foreign key property on User before it is then also inserted into the database. I just wondered whether anyone had solved this sort of problem in a nice generic fashion?

In [ ]:
def decontracted(phrase):
  
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [ ]:
print(sent_1500)
print("="*50)

can i use session values inside a Webmethod?
ps: i used [System.Web.Services.WebMethod(EnableSession = true)] but i can't access Session parameter like in this example: [link text][1]


  [1]:
==================================================

In [ ]:
sent_1500 = decontracted(sent_1500)
print(sent_1500)
print("="*50)

can i use session values inside a Webmethod?
ps: i used [System.Web.Services.WebMethod(EnableSession = true)] but i can not access Session parameter like in this example: [link text][1]


  [1]:
==================================================

In [ ]:
#######  remove words with numbers likw mn453kh , mjh675rtyu , ............................



sent_1500 = re.sub("\S*\d\S*", "", sent_1500).strip()
print(sent_1500)

can i use session values inside a Webmethod?
ps: i used [System.Web.Services.WebMethod(EnableSession = true)] but i can not access Session parameter like in this example: [link

In [ ]:
########## ---------  remove special character ----------------------



sent_1000 = re.sub('[^A-Za-z0-9]+', ' ', sent_1000)
print(sent_1000)

I have model with ImageFile field def upload course cover object filename return media courses s s Course objects aggregate Max id id max 1 filename class Course models Model cover models ImageField upload to upload course cover blank True When the image is saved into cover field will be writen full image path media courses id filename ext but I want store only image name id filename ext How to do it

In [ ]:
##########  we are removing the words from the stop words list: 'no', 'nor', 'not'
##########  <br /><br /> ==> after the above steps, we are getting "br br"
##########   we are including them into stop words list

stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [ ]:
# # Combining all the above what i have done above in the preprocessing of data 




# from tqdm import tqdm
# preprocessed_MainText = []
# ###### tqdm is for printing the status bar


# for sentence in tqdm(train_df['MainText'].values):
#     sentence = re.sub(r"http\S+", "", sentence)
#     sentence = BeautifulSoup(sentence, 'lxml').get_text()
#     sentence = decontracted(sentence)
#     sentence = re.sub("\S*\d\S*", "", sentence).strip()
#     sentence = re.sub('[^A-Za-z]+', ' ', sentence)
   
#     sentence = ' '.join(e.lower() for e in sentence.split() if e.lower() not in stopwords)
#     preprocessed_MainText.append(sentence.strip())

In [ ]:
#  preprocessed_MainText[0]

In [ ]:
#  preprocessed_MainText[1200]

In [ ]:

###------saving the preprocessed_MainText in a file that is below:-

# import pandas as pd
# dict={'Main_Text_after_preprocessing':preprocessed_MainText}
# df=pd.DataFrame(dict)
# df.to_csv('/content/drive/MyDrive/Colab Notebooks/Main_Text.csv')

In [ ]:

# import pandas as pd
# MT=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Main_Text.csv')
# MT.head()

In [ ]:
# MT.drop('Unnamed: 0',axis='columns',inplace=True)
# MT.head()

In [ ]:
# print(type(MT))

In [ ]:




# MT_list = MT.values.tolist()
# MT_list[0]

In [ ]:
####  -------------- for Heading also we are doing the same -------------------





# from tqdm import tqdm
# preprocessed_Heading = []
# # tqdm is for printing the status bar


# for sentence in tqdm(train_df['Heading'].values):
#     sentence = re.sub(r"http\S+", "", sentence)
#     sentence = BeautifulSoup(sentence, 'lxml').get_text()
#     sentence = decontracted(sentence)
#     sentence = re.sub("\S*\d\S*", "", sentence).strip()
#     sentence = re.sub('[^A-Za-z]+', ' ', sentence)
   
#     sentence = ' '.join(e.lower() for e in sentence.split() if e.lower() not in stopwords)
#     preprocessed_Heading.append(sentence.strip())

In [ ]:

####-------------saving the preprocessed heading into heading csv file 

# import pandas as pd
# dict={'Heading_after_preprocessing':preprocessed_Heading}
# df=pd.DataFrame(dict)
# df.to_csv('/content/drive/MyDrive/Colab Notebooks/Heading.csv',index=False)

In [ ]:
# import pandas as pd
# H=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Heading.csv')
# H.head()

In [ ]:
# print(type('Heading_after_preprocessing'))

In [ ]:



from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer

porter=PorterStemmer()

def stemSentence(sentence):
    token_words=word_tokenize(sentence)
    token_words
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(porter.stem(word))
        stem_sentence.append(" ")
    return "".join(stem_sentence)

print(preprocessed_MainText[0])
print("Stemmed sentence")
x=stemSentence(preprocessed_MainText[0])
print(x)

In [ ]:
# import nltk
# nltk.download('punkt')

In [ ]:

# #BAG OF WORDS FEATURIZATION
# #BoW



# count_vect = CountVectorizer()                #####  in scikit-learn
# count_vect.fit(preprocessed_MainText)
# print("some feature names ", count_vect.get_feature_names()[:10])
# print('='*50)

# final_counts = count_vect.transform(preprocessed_MainText)
# print("the type of count vectorizer ",type(final_counts))
# print("the shape of out text BOW vectorizer ",final_counts.get_shape())
# print("the number of unique words ", final_counts.get_shape()[1])

In [ ]:
#bi-gram, tri-gram and n-gram

#removing stop words like "not" should be avoided before building n-grams



count_vect = CountVectorizer(ngram_range=(1,2), min_df=10, max_features=5000)
final_bigram_counts = count_vect.fit_transform(preprocessed_MainText)
print("the type of count vectorizer ",type(final_bigram_counts))
print("the shape of out text BOW vectorizer ",final_bigram_counts.get_shape())
print("the number of unique words including both unigrams and bigrams ", final_bigram_counts.get_shape()[1])

In [ ]:
 #TF-IDF (TERM FREQUENCY - INVERSE DOCUMENT FREQUENCY)



tf_idf_vect = TfidfVectorizer(ngram_range=(1,2), min_df=10)
tf_idf_vect.fit(preprocessed_Heading)
print("some sample features(unique words in the corpus)",tf_idf_vect.get_feature_names()[0:10])
print('='*50)

final_tf_idf = tf_idf_vect.transform(preprocessed_Heading)
print("the type of count vectorizer ",type(final_tf_idf))
print("the shape of out text TFIDF vectorizer ",final_tf_idf.get_shape())
print("the number of unique words including both unigrams and bigrams ", final_tf_idf.get_shape()[1])

In [ ]:
from scipy import sparse

#sparse.save_npz("/content/drive/MyDrive/Colab Notebooks/final_tf_idf_matrix.npz", final_tf_idf)
your_matrix_back = sparse.load_npz("/content/drive/MyDrive/Colab Notebooks/final_tf_idf_matrix.npz")

In [ ]:
type(your_matrix_back)

scipy.sparse.csr.csr_matrix

In [ ]:
type(final_tf_idf)

NameError: ignored

In [ ]:
your_matrix_back.to()

In [ ]:





# # Train your own Word2Vec model using your own text corpus
# i=0
# list_of_sentance=[]
# for sentance in preprocessed_Heading:
#     list_of_sentance.append(sentance.split())

In [ ]:
# list_of_sentance[0]

In [ ]:

######--------word2vec-------------
# from gensim.models import Word2Vec

# want_to_train_w2v = True


# if want_to_train_w2v:
#     # min_count = 5 considers only words that occured atleast 5 times
#     w2v_model=Word2Vec(list_of_sentance,min_count=5,size=50, workers=4)
#     print(w2v_model.wv.most_similar('great'))
#     print('='*50)
#     print(w2v_model.wv.most_similar('worst'))

In [ ]:
# print(w2v_model)

In [ ]:
# w2v_model.save('w2v_model.bin')
# # load model
# new_model = Word2Vec.load('w2v_model.bin')
# print(new_model)

In [ ]:


# X = w2v_model[w2v_model.wv.vocab]

In [ ]:
# X

In [ ]:
# train_df.columns

In [ ]:
# X.shape

In [ ]:
# X[0]

In [ ]:



Y= train_df.drop(axis="columns", labels=['Qid', 'PostDateTime', 'WhenAccountMade', 'Karma', 'NumAnswers',
       'Heading', 'MainText', 'PrimarySubject', 'SecondarySubject',
       'TertiarySubject', 'OtherSubject',]).to_numpy().astype(np.float64)

In [ ]:
Y.shape

(1685091, 1)

In [ ]:
your_matrix_back.shape

(1685091, 122025)

In [ ]:


X=your_matrix_back

In [ ]:



from sklearn.model_selection import train_test_split 


train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size=0.7)

In [ ]:


print('train_X dimension= ', train_X.shape)
print('test_X dimension= ', test_X.shape)
print('train_Y dimension= ', train_Y.shape)
print('test_Y dimension= ', test_Y.shape)

train_X dimension=  (1179563, 122025)
test_X dimension=  (505528, 122025)
train_Y dimension=  (1179563, 1)
test_Y dimension=  (505528, 1)

In [ ]:



from sklearn import model_selection
from sklearn import linear_model
from sklearn import metrics


#######   NOW HERE I AM APPLYING LOGISTIC REGRESSION MODEL AND THEN PREDICTING THE TARGET COUNTRY USING THIS MODEL I AM USING HERE IS LIBLINEAR SOLVER 
##########  BECAUSE it is beneficial  with huge dimension of datsets


##### and  OVR means == one verses the rest   i am using because  of multi class classification



lm = linear_model.LogisticRegression(multi_class='ovr', solver='liblinear')
lm.fit(train_X, train_Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(multi_class='ovr', solver='liblinear')

In [ ]:



Y_predicted=lm.predict(test_X)

#### here i am predicting  the test_X data and the i am comparing the predicted y with thr truth y value and the finding the score 

### so accuracy we are finding here is about 98%

lm.score(test_X, test_Y)

0.9792672215980124

In [ ]:

####################################

print(accuracy_score(test_Y,Y_predicted ))


print( f1_score(test_Y,Y_predicted,average="weighted"))


print(recall_score(test_Y,Y_predicted,average="macro"))


print(precision_score(test_Y,Y_predicted,average="macro"))


#print(classification_report(test_Y,Y_predicted))


print(confusion_matrix(test_Y,Y_predicted))

0.9792672215980124
0.9693665534974973
0.20824644660869915

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.3627747690008311
[[494951      0      6     79      0]
 [  4600      0      2      5      0]
 [  2660      0      7     18      0]
 [  2201      0      4     89      0]
 [   906      0      0      0      0]]

NOW I AM TAKING TEST DATA:

In [ ]:
test_df.columns

Index(['Qid', 'PostDateTime', 'WhenAccountMade', 'Karma', 'NumAnswers',
       'Heading', 'MainText', 'PrimarySubject', 'SecondarySubject',
       'TertiarySubject', 'OtherSubject'],
      dtype='object')

In [ ]:



# from tqdm import tqdm
# preprocessed_Test_Heading = []
# # tqdm is for printing the status bar


# for sentence in tqdm(test_df['Heading'].values):
#     sentence = re.sub(r"http\S+", "", sentence)
#     sentence = BeautifulSoup(sentence, 'lxml').get_text()
#     sentence = decontracted(sentence)
#     sentence = re.sub("\S*\d\S*", "", sentence).strip()
#     sentence = re.sub('[^A-Za-z]+', ' ', sentence)
   
#     sentence = ' '.join(e.lower() for e in sentence.split() if e.lower() not in stopwords)
#     preprocessed_Test_Heading.append(sentence.strip())

In [ ]:



#TF-IDF (TERM FREQUENCY - INVERSE DOCUMENT FREQUENCY)



# tf_idf_vect = TfidfVectorizer(ngram_range=(1,2), min_df=10)
# tf_idf_vect.fit(preprocessed_Test_Heading)
# print("some sample features(unique words in the corpus)",tf_idf_vect.get_feature_names()[0:10])
# print('='*50)

# final_tf_idf = tf_idf_vect.transform(preprocessed_Test_Heading)
# print("the type of count vectorizer ",type(final_tf_idf))
# print("the shape of out text TFIDF vectorizer ",final_tf_idf.get_shape())
# print("the number of unique words including both unigrams and bigrams ", final_tf_idf.get_shape()[1])

In [ ]:


from scipy import sparse

#sparse.save_npz("/content/drive/MyDrive/Colab Notebooks/final_tf_idf_matrix_Test.npz", final_tf_idf)
your_matrix_back_Test = sparse.load_npz("/content/drive/MyDrive/Colab Notebooks/final_tf_idf_matrix_Test.npz")

In [ ]:
your_matrix_back_Test.shape

(1685105, 121892)

In [ ]:
type(your_matrix_back_Test)

scipy.sparse.csr.csr_matrix

In [ ]:






Y_predicted = lm.predict(your_matrix_back_Test)

ValueError: ignored

JOINING THE TEST AND TRAIN DATAFRAME TOGETHER :-


LETS DO NOW :- 


######
######
######
######

In [ ]:
#   NOW ITS BIGTIME :-


## mow i am joining the dataframe beacuse of feature difference  in the test data  and train datasets:-

##########
##########
###########
###########
###########


joint_df = train_df.append(test_df)

In [ ]:
joint_df.shape

(3370355, 12)

In [ ]:
joint_df.isna().sum()

Qid                       0
PostDateTime              0
WhenAccountMade           0
Karma                     0
NumAnswers                0
Heading                   0
MainText                  0
PrimarySubject            0
SecondarySubject          0
TertiarySubject           0
OtherSubject              0
Target              1685264
dtype: int64

In [ ]:

from tqdm import tqdm
preprocessed_joint_Heading = []
# tqdm is for printing the status bar


for sentence in tqdm(joint_df['Heading'].values):
    sentence = re.sub(r"http\S+", "", sentence)
    sentence = BeautifulSoup(sentence, 'lxml').get_text()
    sentence = decontracted(sentence)
    sentence = re.sub("\S*\d\S*", "", sentence).strip()
    sentence = re.sub('[^A-Za-z]+', ' ', sentence)
   
    sentence = ' '.join(e.lower() for e in sentence.split() if e.lower() not in stopwords)
    preprocessed_joint_Heading.append(sentence.strip())

100%|██████████| 3370355/3370355 [15:00<00:00, 3741.48it/s]

In [ ]:
type(preprocessed_joint_Heading)

list

In [ ]:


#TF-IDF (TERM FREQUENCY - INVERSE DOCUMENT FREQUENCY)



tf_idf_vect = TfidfVectorizer(ngram_range=(1,2), min_df=10)
tf_idf_vect.fit(preprocessed_joint_Heading)
print("some sample features(unique words in the corpus)",tf_idf_vect.get_feature_names()[0:10])
print('='*50)

final_tf_idf = tf_idf_vect.transform(preprocessed_joint_Heading)
print("the type of count vectorizer ",type(final_tf_idf))
print("the shape of out text TFIDF vectorizer ",final_tf_idf.get_shape())
print("the number of unique words including both unigrams and bigrams ", final_tf_idf.get_shape()[1])

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

some sample features(unique words in the corpus) ['aa', 'aaa', 'aabb', 'aac', 'aac audio', 'aac files', 'aaplication', 'aapt', 'aar', 'aasm']
==================================================
the type of count vectorizer  <class 'scipy.sparse.csr.csr_matrix'>
the shape of out text TFIDF vectorizer  (3370355, 233495)
the number of unique words including both unigrams and bigrams  233495

In [ ]:


from scipy import sparse

#sparse.save_npz("/content/drive/MyDrive/Colab Notebooks/new_final_tf_idf_matrix_joint.npz", final_tf_idf)
your_matrix_back_joint = sparse.load_npz("/content/drive/MyDrive/Colab Notebooks/new_final_tf_idf_matrix_joint.npz")

In [ ]:
X=your_matrix_back_joint

In [ ]:
Y= joint_df.drop(axis="columns", labels=['Qid', 'PostDateTime', 'WhenAccountMade', 'Karma', 'NumAnswers',
       'Heading', 'MainText', 'PrimarySubject', 'SecondarySubject',
       'TertiarySubject', 'OtherSubject',]).to_numpy().astype(np.float64)

In [ ]:
type(X)

scipy.sparse.csr.csr_matrix

In [ ]:
X.shape

(3370355, 233495)

In [ ]:
Y.shape

(3370355, 1)

In [ ]:
train_df.shape

(1685091, 12)

In [ ]:
test_df.shape

(1685264, 11)

In [ ]:
from sklearn.model_selection import train_test_split 


train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size=1685091,shuffle=False)

In [ ]:
print('train_X dimension= ', train_X.shape)
print('test_X dimension= ', test_X.shape)
print('train_Y dimension= ', train_Y.shape)
print('test_Y dimension= ', test_Y.shape)

train_X dimension=  (1685091, 233495)
test_X dimension=  (1685264, 233495)
train_Y dimension=  (1685091, 1)
test_Y dimension=  (1685264, 1)

HERE I AM APPLYING THE SOFTMAX REGRESSION OR LOGISTIC REGRESSION FOR MULTICLASS CLASSIFICATION :-


SO I AM USING HERE THE "OVR" (ONE VS REST) ⚡⚡⚡⚡⚡⚡

In [ ]:



from sklearn import model_selection
from sklearn import linear_model
from sklearn import metrics


#######   NOW HERE I AM APPLYING LOGISTIC REGRESSION MODEL AND THEN PREDICTING THE TARGET COUNTRY USING THIS MODEL I AM USING HERE IS LIBLINEAR SOLVER 
##########  BECAUSE it is beneficial  with huge dimension of datsets


##### and  OVR means == one verses the rest   i am using because  of multi class classification



lm = linear_model.LogisticRegression(multi_class='ovr', solver='liblinear')
lm.fit(train_X, train_Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(multi_class='ovr', solver='liblinear')

In [ ]:


Y_predicted=lm.predict(test_X)

In [ ]:
#####---------------------lets find out some metrics----------------------------#####



from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score

In [ ]:
print(accuracy_score(test_Y,Y_predicted ))


print( f1_score(test_Y,Y_predicted))


print(recall_score(test_Y,Y_predicted))


print(precision_score(test_Y,Y_predicted))


print(classification_report(test_Y,Y_predicted))


print(confusion_matrix(test_Y,Y_predicted))

ValueError: ignored

In [ ]:
Y_predicted=Y_predicted.astype('int64')  #### here i am converting float into int because some conversion error was coming

In [ ]:
Y_predicted.shape

(1685264,)

In [ ]:
test_df.shape

(1685264, 11)

In [ ]:
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [ ]:
qid= test_df.drop(axis="columns", labels=['PostDateTime', 'WhenAccountMade', 'Karma', 'NumAnswers',
       'Heading', 'MainText', 'PrimarySubject', 'SecondarySubject',
       'TertiarySubject', 'OtherSubject',]).to_numpy().astype(np.float64)

In [ ]:
qid

array([[ 542806.],
       [1226994.],
       [3299216.],
       ...,
       [2748406.],
       [1575551.],
       [1827589.]])

In [ ]:
qid.shape

(1685264, 1)

In [ ]:
result = pd.DataFrame({'Qid':test_df['Qid'],'Target':Y_predicted}) ## now here i am preapring submission file

In [ ]:
result.head()

       Qid  Target
0   542806       0
1  1226994       0
2  3299216       0
3  1631029       0
4  1963405       0

In [ ]:
result.to_csv('predictions_today1_again.csv',index=False,header=True)  # and changing this dataframe into csv file

AGAIN I AM DOING SOME BASIC PREPROCESSING ON TEST DATAFRAME BECAUSE WE CANT DROP ANY OF THE ROWS FROM THE DATAFRAME DUE TO THE SUBMISSION ISSUE ON KAGGLE :=




SO NOW ONLY WHAT I AM DOING IS REPLACING THE NAN VALUE WITH NOTHING:-

In [ ]:
#### again doing due to submission issue :-
##########
#########
#########


test_df['SecondarySubject'].fillna("Not Available",inplace=True)

In [ ]:
test_df.isna().sum()

Qid                 0
PostDateTime        0
WhenAccountMade     0
Karma               0
NumAnswers          0
Heading             0
MainText            0
PrimarySubject      0
SecondarySubject    0
TertiarySubject     0
OtherSubject        0
dtype: int64

In [ ]:
test_df['PrimarySubject'].fillna("Not Available",inplace=True)

In [ ]:
test_df['TertiarySubject'].fillna("Not Available",inplace=True)

In [ ]:
test_df['OtherSubject'].fillna("Not Available",inplace=True)

In [ ]:
test_df['SecondarySubject'].fillna("Not Available",inplace=True)

In [ ]:
test_df.isna().sum()

Qid                 0
PostDateTime        0
WhenAccountMade     0
Karma               0
NumAnswers          0
Heading             0
MainText            0
PrimarySubject      0
SecondarySubject    0
TertiarySubject     0
OtherSubject        0
dtype: int64

In [ ]:
test_df.shape

(1685264, 11)

⚡⚡⚡⚡⚡⚡
⚡
⚡

NOW HERE I AM USING THE  DECISION TREE algo to train my model and predicting the test target :-

In [ ]:



from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth =270).fit(train_X, train_Y)   ###fitting opur train data 
dtree_model.predict(test_X)

array([0., 0., 0., ..., 0., 0., 0.])

In [ ]:
Y_predicted_DT = dtree_model.predict(test_X)

In [ ]:
Y_predicted_DT=Y_predicted_DT.astype('int64')

In [ ]:
result = pd.DataFrame({'Qid':test_df['Qid'],'Target':Y_predicted_DT}) ## now here i am preapring submission file

In [ ]:
result.to_csv('predictions_today2_DT.csv',index=False,header=True)  # and changing this dataframe into csv file

In [ ]:

#---------------------------------------RANDOM FOREST ------------------------------------


# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 50, random_state = 42)
# Train the model on training data
rf.fit(train_X, train_Y);

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.

In [ ]:

#----------------------predictions--------------------------------------#



# Use the forest's predict method on the test data
predictions = rf.predict(test_X)
# Calculate the absolute errors
errors = abs(predictions - test_X)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
Mean Absolute Error: 3.83 degrees.